:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f7fa; /* Mesma cor de fundo base do sistema */
}

/* Garante que o elemento onde o React roda ocupe tudo */
#root {
  width: 100%;
  height: 100%;
}